@(title: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>GPA Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

      <!--  Load site-specific customizations after bootstrap. -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" href="//www.brunel.ac.uk/__brunel_brand/icons/fav/favicon.ico">

  </head>
  <body>
  
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Brunel Department of Computer Science GPA Calculator</a>
      </div>
    </div>
  </div>

    @content
	
	<footer style="margin-bottom: 30px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <hr>
                <p>Copyright © Brunel University 2015</p>
          </div>
            <br>
            <table style="width:100%">
                <tr>
                    <td><b>Disclaimer</b></td>
                    <td><b>Acknowledgements</b></td>
                </tr>
                <tr>
                    <td>Results from the calculator should not be treated as the final <div> classification.The calculations have been made using the latest SR2 <div>regulations, however may not be 100% accurate.</td>
                    <td>AWS in Education Grant Program<div>Other</td>
                </tr>
            </table>
        </div>
      </div>
    </footer>
	
	
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Enable tooltips. Used primarily to validate that JQuery + Bootstrap JS are loaded. Remove this script if you don't want tooltips. -->
    <script type="text/javascript">
    jQuery(function ($) {
        $("[rel='tooltip']").tooltip()
    });
    </script>
    
  </body>
</html>
